<div class="contact">
	<div class="account-container login stacked">
		<div class="content clearfix">
			<form class="validate" {{action "save" target="view" on="submit"}}>
				<h1>Contact Us</h1>
				<div class="login-fields">
					<div class="field">
						<label for="emailinput">Email Address (not required)</label> 
					    {{
						    view Ember.TextField
						    valueBinding="controller.email"
						    class="validate[custom[email]]"
						    placeholder="Email Address (Not Required)"
						}}
					</div>
					<div class="field">
						<label for="msginput">Message (required)</label>
					    {{
					    	view Ember.TextArea
					    	valueBinding="controller.mailContent"
					    	class="validate[required]"
					    	placeholder="Enter Message (Required)"
					    }}
					</div>
				</div>
				<div class="login-actions">
					{{loading controller isLoadingBinding="isLoading"}}
			    	<button type="submit" class="button btn btn-primary btn-large">
		  				<i class="icon-envelope"></i>
                    	Send
                    </button>
				</div>
				{{status controller messageBinding="statusMessage" isSuccessBinding="isSuccess" isShowBinding="isShowStatus"}}
			</form>
		</div>
	</div>
</div>